.mCSB_inside > .mCSB_container {
    margin-right: 10px;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: $base-color;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
}
