#govt-carousel,
#non-govt-carousel {

    &.owl-carousel,
    &.owl-carousel.owl-loaded {
        display: flex;
        padding-left: 15px;
        padding-bottom: 30px;
    }

    .owl-prev {
        left: 0;
        background: url('../img/nav/arrow-left.png') no-repeat center center;
    }
    .owl-next {
        right: 0;
        background: url('../img/nav/arrow-right.png') no-repeat center center;
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 0;
        width: 15.6rem;
        height: 100%;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.5);

        &:focus {
            outline: none;
        }

        span {
            display: none;
        }
    }

}
